@font-face {
  font-family: 'robotothin';
  src: url(../fonts/Roboto-Thin.eot), url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url(../fonts/Roboto-Thin.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url(../fonts/Roboto-Light.eot), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url(../fonts/Roboto-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url(../fonts/Roboto-Regular.eot), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url(../fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url(../fonts/Roboto-Bold.eot), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url(../fonts/Roboto-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'robotoblack';
  src: url(../fonts/Roboto-Black.eot), url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url(../fonts/Roboto-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'robotoslabthin';
  src: url(../fonts/RobotoSlab-Thin.eot), url("../fonts/RobotoSlab-Thin.eot?#iefix") format("embedded-opentype"), url(../fonts/RobotoSlab-Thin.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'robotoslabregular';
  src: url(../fonts/RobotoSlab-Regular.eot), url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url(../fonts/RobotoSlab-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #4a454b;
  color: white;
  font-family: "Roboto Light", Arial, sans-serif;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.anchor:before {
  display: block;
  content: "";
  height: 100px;
  margin: -100px 0 0;
}
.triangle {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  margin-bottom: -6px;
}
h1,
h2 {
  padding-bottom: 20px;
  font-family: RobotoBlack;
  font-size: 50px;
}
.btn {
  padding: 10px 30px;
  margin: 20px;
  border-radius: 15px;
  background-color: #90d23d;
  color: #fff;
  font-family: RobotoRegular;
  font-size: 18px;
}
.main-header {
  padding-top: 50px;
}
.main-header__navbar {
  margin-top: -20px;
  padding-top: 20px;
  border: none;
  background-color: #4a454b;
  font-family: "Roboto Thin";
  font-size: 15px;
}
.main-header__navbar .navbar-brand {
  margin-top: -20px;
}
.main-header__navbar .navbar-brand img {
  width: 130px;
  padding-top: 10px;
}
.main-header__navbar .navbar-collapse {
  border: none;
}
#list a {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-align: center;
}
#list a:hover {
  color: #cfcfcf;
}
#list li:hover {
  background-color: #3b3b3b;
}
.greeting {
  position: relative;
  padding-bottom: 50px;
  background-color: #fff;
  color: #000;
}
.greeting__welcome {
  margin-bottom: 20px;
  background-color: #fff;
}
.greeting__form {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border: 1px solid #dbdada;
  background-color: #fff;
  text-align: center;
}
.greeting__form h3 {
  margin-bottom: 20px;
  font-family: RobotoBold;
  font-size: 30px;
  text-align: center;
}
.greeting__form .form-control {
  height: 50px;
  margin-bottom: 15px;
}
.greeting__form .form-control:focus {
  border-color: #90d23d;
  box-shadow: none;
}
.greeting__form .form-control:last-child {
  margin-bottom: 40px;
}
.greeting__form .btn {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  font-family: RobotoBold;
  font-size: 22px;
}
.interestingness {
  background-color: #fff;
}
.interestingness h3 {
  font-family: RobotoBlack;
  font-size: 35px;
}
.interestingness__element {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  color: #000;
}
.timetable {
  background-color: #fff;
}
.timetable .table {
  max-width: 840px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 22px;
}
.timetable #table-header {
  background-color: #a3cc40;
  font-family: RobotoBlack;
  font-size: 30px;
}
.timetable p {
  margin-bottom: 100px;
  color: #000;
  text-align: center;
}
.elite {
  text-align: center;
}
.elite .elite__logo {
  margin-top: -130px;
}
.elite img {
  height: 250px;
}
.elite h2 {
  margin-top: 50px;
}
.elite p {
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 800px;
}
.speakers {
  padding-top: 30px;
  background-color: #fff;
  color: #000;
}
.speakers h2 {
  padding-bottom: 0px;
  font-size: 35px;
  border-bottom: 5px solid #fff;
}
.speakers p {
  margin-bottom: 50px;
}
.speaker__details {
  min-height: 100px;
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 1px;
  background-color: #46c209;
  color: #fff;
}
.speaker__details span {
  font-family: RobotoMedium;
  font-size: 18px;
}
.speaker__details .social-btn {
  display: inline-block;
  width: 35px;
  height: 32px;
  margin-top: 10px;
  background: url(../img/social-sprite.png);
}
.speaker__details .social-btn-tw {
  background-position: -38px 0;
}
.speaker__details .social-btn-bh {
  background-position: -78px 0;
}
.speaker__details .social-btn-dr {
  background-position: -116px 0;
}
.speaker__fingers {
  display: none;
}
.sponsors {
  padding-top: 20px;
  text-align: center;
}
.sponsors p {
  margin-bottom: 50px;
}
.sponsors .sponsors__list {
  margin-bottom: 50px;
}
.sponsors .sponsors__list a {
  margin: 20px;
}
.past-events {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #fff;
  color: black;
  text-align: center;
}
.past-events h2 {
  text-align: left;
  margin-bottom: 30px;
}
.past-events p {
  margin-bottom: 40px;
  text-align: left;
}
.past-events .event {
  min-height: 100px;
  margin-bottom: 30px;
  color: #fff;
}
.past-events .event1 {
  background-color: #3d6ed2;
}
.past-events .event2 {
  background-color: #90d23d;
}
.past-events .event3 {
  background-color: #ff9d00;
}
.past-events .event4 {
  background-color: #e0652a;
}
.past-events .btn {
  background-color: #373737;
}
.past-events .btn:hover {
  color: #90d23d;
}
.contact {
  height: 730px;
  background: url(../img/map.jpg);
  text-align: center;
}
.contact img {
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact .form-control {
  min-height: 50px;
  max-width: 400px;
  margin: 0 auto;
}
.contact .form-control:focus {
  border-color: #90d23d;
  box-shadow: none;
}
.contact .form-control:first-child {
  margin-bottom: 25px;
}
.contact__address {
  margin-bottom: 20px;
}
.main-footer {
  padding-top: 40px;
  background-color: #90d23d;
  text-align: center;
}
.main-footer .social-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url(../img/social-sprite-footer.png);
}
.main-footer .social-btn-tw {
  background-position: -60px 0;
}
.main-footer .social-btn-in {
  background-position: -120px 0;
}
.main-footer .social-btn-gp {
  background-position: -179px 0;
}
.main-footer .social-btn-tu {
  background-position: -238px 0;
}
.main-footer__created {
  padding: 20px;
}
.main-header__countdown--days {
  text-align: center;
  font-size: 50px;
  margin: 20px auto;
  margin-bottom: -30px;
  max-width: 350px;
  border: 2px solid #90d23d;
  border-radius: 20px;
}
ul.main-header__countdown {
  display: none;
}
.seperator {
  font-size: 100px;
  line-height: 100px;
  vertical-align: top;
  margin: 0 15px;
}
.numbers-wrapper {
  display: inline-block;
  width: 120px;
}
@media (min-width: 768px) {
  .triangle {
    height: 50px;
    margin-top: 80px;
  }
  .main-header {
    padding-top: 100px;
    background: url(../img/people.png) no-repeat;
    background-position: center 405px;
  }
  .main-header__navbar {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  .main-header__navbar .navbar-brand {
    margin-top: -30px;
  }
  .main-header__navbar .navbar-brand img {
    width: 226px;
  }
  .main-header__countdown {
    padding-left: 0px;
  }
  .elite .elite__logo {
    margin-top: -190px;
  }
  .elite img {
    height: 357px;
  }
  .past-events .event {
    min-height: 300px;
  }
  .contact {
    height: 580px;
    padding-top: 100px;
    color: black;
    font-size: 18px;
  }
  .contact__feedback {
    margin-top: -40px;
    padding-top: 50px;
    background-color: #fff;
  }
  .main-header__countdown--days {
    display: none;
  }
  ul.main-header__countdown {
    font-family: Roboto Slab Thin;
    list-style: none;
    margin: 75px auto;
    margin-bottom: 150px;
    display: block;
    text-align: center;
    border: 2px solid #90d23d;
    border-radius: 20px;
  }
  ul.main-header__countdown li {
    display: inline-block;
  }
  ul.main-header__countdown li span {
    font-size: 100px;
    line-height: 100px;
  }
  ul.main-header__countdown li p {
    font-family: Roboto Slab Regular;
    text-transform: uppercase;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .triangle {
    height: 80px;
    margin-top: 60px;
  }
  .main-header {
    background-position: 20% 440px;
  }
  .main-header__navbar {
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
  }
  #list a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-header__countdown {
    width: 840px;
  }
  .greeting {
    padding-bottom: 100px;
  }
  .greeting__form {
    float: right;
    margin-top: -160px;
  }
  .interestingness__element {
    padding-bottom: 100px;
  }
  .elite {
    text-align: right;
  }
  .elite .elite__logo {
    margin-top: -180px;
  }
  .speaker__details {
    min-height: 260px;
  }
  .speaker__fingers {
    display: block;
    background: url(../../img/fingers.png) no-repeat center;
  }
  .contact {
    height: 540px;
  }
  .seperator {
    font-size: 130px;
    line-height: 130px;
  }
  .numbers-wrapper {
    width: 150px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  ul.main-header__countdown li span {
    font-size: 130px;
    line-height: 130px;
  }
  ul.main-header__countdown li p {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .triangle {
    height: 100px;
    margin-top: 40px;
  }
  .main-header {
    background-position: 10% 440px;
  }
  .main-header__navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
  .greeting__form {
    margin-top: -205px;
  }
}
